.balra{
    float: left;

}

.jobbra{
    float: right;

}


img{
    width: 120px;
    padding: 10px;
}

div{
    padding: 10px;
}

.elso{
    width: 20%;
    display: inline-block;
}
.masodik{
    width: 75%;
    display: inline-block;
}
h4{
    text-align: right;
}