p::first-letter{
    font-size: 200%;
}
p:first-line{
    text-transform: uppercase;
}
h1+p:before{
    content: "Fontos ";
    color: red;
}

h1+p::first-letter{
    color:blue;
}
h2::after{    
    font-style: italic;
    content: " (kettes címsor)";

}