html{
    box-sizing:  border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background-color: rgb(128, 235, 239);
    color: black;
}
section, header, footer{
    background:rgba(0,0,0,0.2);
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
}
section{
    font-size: 1em;
}
a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px 5px;
    width: 100%;
    text-align: center;

}
a:hover{
    background:rgba(0,0,0,0.3);
    text-shadow: 2px 2px 1px black;
}
.container{
    max-width: 992px;
    margin: 0 auto;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border:1px solid gray;
    background:rgba(0,0,0,0.2);
}
nav li{
    flex: 3;
}
.toggleNav {
    display: none;
}
img{
    border: 1px solid black;
    padding:10px;
    background-color:white;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}
#fotok{
    background-color:beige;
    border:1px solid black;
    width: 500px;
    height: 260px; 
    margin:0 auto;
    margin-top:75px;
    padding-left: 50px;
    position:relative;
    
}
div#fotok a:nth-child(3n+1) img{
    position:absolute;
    left:20px;
    top:40px;
    transform:rotate(4deg); 
}
div#fotok a:nth-child(3n+2) img {
    position:absolute;
    left:200px;
    top:80px;
    transform:rotate(-7deg);  
}
div#fotok a:nth-child(3n) img {
    position:absolute;
    left:350px;
    top:40px;  
}
